#menubar {
    background-color: olive;
    width: 200px;
}
#menuber ul {
    margin: 0;
    padding: 0;
}
#menuber ul li {
    display: inline-block;
    list-style: none;
    padding: 0px 15px;
}
#menuber ul li a {
    color: white;
    text-decoration: none;
}
#menubar ul li a:hover {
    color: violet;
}
