* {
	margin: 0 auto;
	padding: 0;
	list-style: none;
	color: #000000;
	font-size: 20px;
}
.main{
	z-index: 3;
}
.submenu{
	z-index: 2;
}
body{
	width: 1400px;
}
a{
	display:block;
	text-decoration: none;
}
nav{
    width: 1000px;
}
.menu>li{
    float: left;
	width: 250px;
	height: 40px;
	background-color: #9470cf;
}
.menu>li>a{
	line-height: 40px;
	text-align: center;
	font-weight: bold;
	color: #ffffff;			
}
.menu>li:hover>a{
	background-color: #b384d3;
}
.submenu{
	display: none;
}
.submenu>li{
	width: 250px;
	height: 40px;
	background-color: #ebd7fd;
}
.submenu>li>a{
	line-height: 40px;
	font-size: 18px;
	text-align: center;
	color: #9c70cf;
}
.submenu>li:hover>a{
	text-decoration: underline;
}
